@import url('../colors/colors.css');

.c-bestseller__products {
  margin: 0 auto;
  padding: 48px 38px;
}

.c-bestseller__product {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.c-bestseller__product--title {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 32px;
}

.c-bestseller__product--divider {
  border-top: 1px solid var(--light-grey-color);
}

.c-bestseller__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-bestseller__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.c-bestseller__item--title {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 24px;
}

.c-bestseller__item--span {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 24px;
}

.c-bestseller__item--price {
  display: flex;
  gap: 5px;
}

.c-bestseller__item--previous-price {
  color: var(--muted-color);
}

.c-bestseller__item--current-price {
  color: var(--secondary-color);
}
