@import url('../colors/colors.css');

.c-brands {
  padding: 56px 40px;
  background-color: var(--light-grey-background-color);
}

.c-brand__clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-brand__clients img {
  flex: 0 0 calc(16.6% - 80px);
}