@import url('../colors/colors.css');

#c-slide {
  background-color: var(--dark-background-color);
  display: grid;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#c-slide.paused {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  text-size-adjust: none;
  user-select: none;
}

#c-slide.paused #c-slide__thumb {
  opacity: 0;
  transition: 250ms cubic-bezier(.17, .67, .83, .67);
}

#c-slide__elements {
  display: grid;
  grid-area: 1/1;
}

#c-slide__elements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: hidden;
}

#c-slide__elements img {
  display: block;
  height: 600px;	
  width: 100%;
  object-fit: cover;
}

#c-slide__elements > .active {
  opacity: 1;
  visibility: visible;
}

.c-slide__items {
  position: relative;
  height: 100%;
}

.c-slide__items img {
  height: 100%;
}

.c-slide__content {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light-text-color);
  z-index: 1;
}

.c-slide__content--title {
  font-size: 58px;
  line-height: 80px;
}

.c-slide__content--text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.c-slide__content--button {
  background-color: var(--primary-color);
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--light-text-color);
}

#c-slide__controls {
  display: grid;
  grid-area: 1/1;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

#c-slide__controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* padding-top: 130px; */
  padding-inline: 20px;
  position: relative;
}

#c-slide__controls > .c-prev__button {
  margin-right: auto;
}

#c-slide__controls > .c-next__button {
  margin-left: auto;
}

#c-slide__thumb {
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10%;
  pointer-events: none;
}

#c-slide__thumb > span {
  background-color: var(--light-background-color-semi);
  display: block;
  flex: 1;
  height: 10px;
  isolation: isolate;
  margin: 20px 0.5px;
  overflow: hidden;
}

#c-slide__thumb .c-slide__thumb--item.active {
  animation: thumb forwards linear running;
  background-color: var(--light-background-color);
  display: block;
  height: inherit;
  transform: translateX(-100%);
}

#c-slide__thumb .c-slide__thumb--item.paused {
  animation-play-state: paused;
}

@keyframes thumb {
  to {
    transform: initial;
  }
}
