@import url('../colors/colors.css');

.delivery__card {
  padding: 50px 0;
}

.delivery__card-content {
  display: flex;
}

.delivery__card-content img {
  width: 100%;
  height: auto; 
  padding: 30px 0;
}

.delivery__card-item {
  flex-grow: 1;
}

.delivery__card-item {
  display: flex;
  margin: auto 0;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.delivery__card-item img {
  padding: 25px 0;
}

.delivery__card-item-title {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 32px;
}

.delivery__card-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 70%;
}

.delivery__card-instructions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.delivery__card-instruction {
  display: flex;
  gap: 20px;
  padding: 25px 40px;
}

.delivery__card-step {
  color: var(--danger-text-color);
  font-size: 40px;
  line-height: 50px;
}

.delivery__card-step-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 24px;
}

.delivery__card-step-text {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
