@import url('../colors/colors.css');

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__wrapper {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  margin-inline: auto;
  margin-top: 2rem;
  max-width: 1440px;
  width: 100%;
}

.header__title {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 32px;
}

.header__nav {
  inset-inline-start: 0;
  position: sticky;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menu-item {
  align-items: center; 
  display: flex;
  font-size: 14px;
  line-height: 24px;
}

.header__menu-item a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header__menu-item + .header__menu-item,
.header__menu-item .header__menu-link {
  margin-left: 1rem;
}

.header__menu-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../image/icons/arrow_down.svg');
  background-position: right center;
  background-repeat: no-repeat;
  border-color: var(--light-background-color);
  color: var(--primary-text-color);
  outline: none;
  padding-right: 1rem; 
}

.header__menu-link {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.header__menu-link--single {
  justify-content: flex-start;
}

.header__menu-text {
  color: var(--primary-color);
}

.header__menu-img + .header__menu-text {
  margin-left: 0.3rem;
}
