@import url('../colors/colors.css');

.c-header__wrapper {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1440px;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
}

.c-header__title {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 32px;
}

.c-header__nav {
  inset-inline-start: 0;
  position: sticky;
}

.c-header__menu {
  display: flex;
  list-style: none;
}

.c-header__menu--item {
  align-items: center; 
  display: flex;
  font-size: 14px;
  line-height: 24px;
}

.c-header__menu--item a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.c-header__menu--item + .c-header__menu--item,
.c-header__menu--item .c-header__menu--link {
  margin-left: 1rem;
}

.c-header__menu--select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../assets/images/arrow_down.svg');
  background-position: right center;
  background-repeat: no-repeat;
  border-color: var(--light-background-color);
  color: var(--primary-text-color);
  outline: none;
  padding-right: 1rem; 
}

.c-header__menu--link {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.c-header__menu--text {
  color: var(--primary-color);
}

.c-header__menu--img + .c-header__menu--text {
  margin-left: 0.3rem;
}
