@import url('../colors/colors.css');

.c-product__card--row {
  display: flex;
  margin: auto;
  gap: 32px;
  padding: 50px 0;
}

.c-product__card--background {
  flex: 0 0 auto;
  position: relative; 
}

.c-product__card--background img {
  width: 100%;
  height: auto;
}

.c-product__card--content {
  flex-grow: 1;
}

.c-product__card--span {
  position: absolute;
  display: flex;
  gap: 5px;
  flex-direction: column;
  top: 24px;
  left: 48px; 
}

.c-product__card--category, 
.c-product__card--item-count,
.c-product__card--text {
  font-size: 14px;
  line-height: 24px;
}

.c-product__card--category {
  color: var(--primary-text-color);
}

.c-product__card--item-count,
.c-product__card--text {
  color: var(--secondary-text-color);
}

.c-product__card--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-product__card--nav-title {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 24px;
}

.c-product__card--nav-menu {
  display: flex;
  list-style: none;
}

.c-product__card--nav-item {
  align-items: center; 
  display: flex;
  font-size: 14px;
  line-height: 24px;
}

.c-product__card--nav-item a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.c-product__card--nav-item + .c-product__card--nav-item {
  margin-left: 3rem;
}

#c-product__card--item-active a {
  color: var(--primary-color);
}

.c-product__card--button {
  display: flex;
  gap: 1rem;
}

.c-product__card--button-prev,
.c-product__card--button-next {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.c-product__card--divider {
  border-top: 1px solid var(--light-grey-color);
  margin: 10px 0;
}

#c-product__card--items,
#c-product__card--items-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#c-product__card--items .c-product__card--item,
#c-product__card--items-2 .c-product__card--item {
  flex: 0 0 calc(33.33% - 10px);
}

.c-product__card--item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding: 10px 0;
}

.c-product__card--title,
.c-product__card--previous-price,
.c-product__card--current-price {
  font-size: 16px;
  line-height: 24px;
}

.c-product__card--title {
  color: var(--primary-text-color);
}

.c-product__card--price {
  display: flex;
  margin: 0 auto;
  gap: 5px;
}

.c-product__card--previous-price {
  color: var(--muted-color);
}

.c-product__card--current-price {
  color: var(--secondary-color);
}