@import url('../colors/colors.css');

.c-shop__card {
  background-color: var(--light-grey-background-color);
}

.c-shop__card--row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 80px 0;
}

.c-shop__card--item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.c-shop__card--content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  height: 232px;
  border: 1px solid var(--light-grey-color);
}

.c-shop__card--item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
  width: 45%;
}

.c-card__item--1 {
  background-image: url('../../image/card/candy_jar.svg');
}

.c-card__item--2 {
  background-image: url('../../image/card/apples.svg');
}

.c-card__item--3 {
  background-image: url('../../image/card/dish.svg');
}

.c-shop__card--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary-text-color);
}

.c-shop__card--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-text-color);
}

.c-shop__card--item a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--primary-text-color);
  text-decoration: none;
}