:root {
  --primary-color: #23A6F0;
  --secondary-color: #23856D;

  --primary-text-color: #252B42;
  --secondary-text-color: #737373;
  --light-text-color: #FFFFFF;
  --danger-text-color: #E74040;
  
  --alert-color: #E77C40;
  --muted-color: #BDBDBD;
  --light-grey-color: #ECECEC;
  --disable-element-color: #8EC2F2;

  --light-grey-background-color: #FAFAFA;
  --light-background-color: #FFFFFF;
  --light-background-color-semi: rgba(255, 255, 255, 0.5);
  --dark-background-color: #252B42;
}